body {
  touch-action: manipulation;
}

html {
  /* overflow-y: hidden; */
  /* overflow-x: hidden; */
}

.primary-button {
  background: linear-gradient(270deg, #fe385c 0%, #ff5d53 100%);
}

.mainBg {
  background: linear-gradient(180deg,
      #caecff 10.05%,
      #ffcbd1 47.06%,
      #ffffff 100%);
}

.adminSection {
  background: var(--grd, linear-gradient(180deg, #e5faff 0%, #fbf3fd 100%));
}

/* .adminDashboardSection {
  background: var(--grd, linear-gradient(180deg, #47757fb3 0%, #8a5898ae 100%));
} */

.createClass {
  background: var(--grd, linear-gradient(180deg, #47757fb3 0%, #8a5898ae 100%));
}

.CreateGarbaClassSection {
  background: var(--main-bg-grd,
      linear-gradient(180deg, #caecff 0%, #ffcbd1 41.15%, #fff 100%));
}

.createGarbaClassSubmit {
  background: var(--main-bg-grd,
      linear-gradient(180deg, #caecff 0%, #ffcbd1 41.15%, #fff 100%));
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.bg-menu,
.loginPage,
.whatsappLoginPage,
.securityHome,
.accountPage,
.emailVerifyPage,
.whatsappVerifyPage {
  background: linear-gradient(180deg,
      #caecff 10.05%,
      #ffcbd1 80.06%,
      #ffffff 100%);
}

.adminDashboardSection {
  /* background: radial-gradient(125.97% 83.95% at 78.47% -10.39%, rgba(255, 255, 255, 0.93) 0%, rgba(222, 222, 222, 0.00) 76.25%); */
  background: linear-gradient(141deg, #8b7bf7 0%, #ea2ac6 55.58%, #ff3e3e 100%);
}

.OTPSection,
.signUp,
.loginSection,
.whatsappSection,
.mailSection {
  border-radius: 40px;
}

.OTPInput {
  width: 55px !important;
  height: 55px !important;
}

/* hr-lines Start */
.hr-lines:before {
  content: " ";
  display: block;
  height: 2px;
  width: 110px;
  position: absolute;
  top: 50%;
  left: 0;
  background: rgb(0, 0, 0);
  /* background: rgb(156 163 175); => GrayColor */
  margin-left: 10px;
}

.hr-lines {
  position: relative;
  /*  new lines  */
  max-width: 400px;
  margin: 10px auto;
  text-align: center;
}

.hr-lines:after {
  content: " ";
  height: 2px;
  width: 110px;
  background: rgb(0, 0, 0);
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  margin-right: 10px;
}

/* hr-lines End */

.basic-multi-select {
  width: 100% !important;
}

.select__control {
  border: none !important;
  outline: transparent !important;
  background: transparent !important;
  width: 100%;
}

.eventCardShadow {
  box-shadow: 0 0 20px 0px #00000035;
}

/* hr-transaction Start */
.hr-transaction:before {
  content: " ";
  display: block;
  height: 2px;
  width: 110px;
  position: absolute;
  top: 50%;
  left: 0;
  background: rgb(156 163 175);
  margin-left: 14px;
}

.hr-transaction {
  position: relative;
  /*  new lines  */
  max-width: 400px;
  margin: 10px auto;
  text-align: center;
}

.hr-transaction:after {
  content: " ";
  height: 2px;
  width: 110px;
  background: rgb(156 163 175);
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  margin-right: 14px;
}

/* hr-transaction End */

.Pink {
  background-color: #ff43b4;
}

.Yellow {
  background-color: #ffb342;
}

.Purple {
  background-color: #af6eda;
}

.Grey {
  background-color: #838da7;
}

.Blue {
  background-color: #001d6e;
}

.Red {
  background-color: #ff5c5c;
}

.imageShadow {
  box-shadow: 0px 0px 15px 9px #00000033;
}

.classOwnerCardShadow {
  box-shadow: 0px 0px 10px 0px #00000040;
}

/* Transaction Table Start */
/* .dataTables_wrapper .dataTables_filter input{
  border-radius: 10px !important;
} */

.dataTables_filter {
  margin-bottom: 10px;
}

.dataTables_filter input {
  outline-style: none;
}

.transactionTable thead tr th {
  background-color: #fe385cf0;
  color: #ffffff;
}

.transactionTable tbody tr:nth-child(odd) {
  background-color: #fff;
}

.transactionTable tbody tr:nth-child(even) {
  background-color: #eee;
}

/* Transaction Table End */

.sidebar::-webkit-scrollbar {
  display: none;
}